@model  MyMvcCv.Models.Entity.TblSertifikalarim

@{
    ViewBag.Title = "YeniSertifika";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h2>Yeni Sertifika  Ekleme Sayfası</h2>
<br />
<form method="post">
    @Html.Label("Sertifika Başlığı")
    <br />
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.Label("Sertifika Açıklaması")
    <br />
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    <br />
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>



